<% wrap_layout :layout do %>
  <article>
    <div class="article-header">
      <h1><%= current_article.title %></h1>
      <p class="article-date"><%= current_article.date.strftime("%B %e, %Y") %></p>
      <%= partial "social_buttons" %>
    </div>
    <%= yield %>
  </article>
  <hr />
  <%= partial "social_buttons" %>
  <%= partial "mailing_list_subscribe" %>
  <%= partial "disqus" %>
<% end %>
