<% wrap_layout :layout do %>
  <article>
    <div class="article-header">
      <h1><%= current_article.title %></h1>
      <p class="article-date"><%= current_article.date.strftime("%B %e, %Y") %></p>
      <%= partial "social_buttons" %>
    </div>
    <%= partial "article_image", locals: {
      filename: current_article.data.image,
      alt: current_article.data.alt,
      source: current_article.data.source,
      url: current_article.data.url
    } %>
    <%= yield %>
  </article>
  <hr />
  <%= partial "social_buttons" %>
  <hr />
  <%= partial "mailing_list_subscribe" %>
  <hr />
  <%= partial "disqus" %>
<% end %>
