<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  </head>
  <body>

    <header>
      <%= image_tag 'me.png' %>
      <%= image_tag 'logo.png', alt: 'Bob Nadler, Jr.' %>
      <ul>
        <li><%= image_tag 'github.png' %></li>
        <li><%= image_tag 'twitter.png' %></li>
        <li><%= image_tag 'linkedin.png' %></li>
        <li>
          <% link_to '/feed.xml' do %>
            <%= image_tag 'rss.png' %>
          <% end %>
        </li>
      </ul>
      <nav>
        <ul>
          <li><%= link_to 'about', '/about.html' %></li>
          <li><%= link_to 'posts', '/index.html' %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
