<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="general" />
    <meta name="description" content="<%= current_page.data.description %>" />
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:type" content="<%= current_page.data.type || 'article' %>" />
    <meta property="og:url" content="<%= full_url(current_page.destination_path) %>">
    <meta property="og:description" content="<%= current_page.data.description %>" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="<%= full_url(current_page.destination_path) %>">
    <meta name="twitter:title" content="<%= current_page.data.title %>">
    <meta name="twitter:description" content="<%= current_page.data.description %>">
    <link href="http://fonts.googleapis.com/css?family=Lora|Istok+Web" rel="stylesheet" type="text/css">
    <link rel="author" href="https://plus.google.com/u/0/102659859857244557612">
    <link rel="icon" type="image/png" href="favicon.png">
    <%= stylesheet_link_tag "styles" %>
    <%= partial "google_analytics" %>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <% link_to "/index.html" do %>
          <%= image_tag 'me.png', alt: 'Bob Nadler, Jr.' %>
          <%= image_tag 'logo.png', alt: 'Logo' %>
        <% end %>
        <ul class="social">
          <li><%= icon "github", "https://github.com/bnadlerjr" %></li>
          <li><%= icon "twitter", "https://twitter.com/bnadlerjr" %></li>
          <li><%= icon "linkedin", "https://www.linkedin.com/in/bobnadlerjr" %></li>
          <li><%= icon "rss", "/feed.xml" %></li>
        </ul>
        <nav>
          <ul>
            <li><%= link_to "about", "/about.html" %></li>
            <li><%= link_to "articles", "/index.html" %></li>
          </ul>
        </nav>
      </header>
      <main>
        <%= yield %>
        <footer>
          <ul>
            <li><%= link_to "about", "/about.html" %></li>
            <li><%= link_to "articles", "/index.html" %></li>
            <li><%= link_to "rss", "/feed.xml" %></li>
            <li><%= link_to "github", "https://github.com/bnadlerjr" %></li>
            <li><%= link_to "twitter", "https://twitter.com/bnadlerjr" %></li>
            <li><%= link_to "linkedin", "https://www.linkedin.com/in/bobnadlerjr" %></li>
          </ul>
          Copyright &copy; 2010-2014 <%= link_to "Bob Nadler, Jr.", "/index.html" %>
        </footer>
      </main>
    </div>
    <%= partial "social_setup" %>
  </body>
</html>
