<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="general" />
    <meta name="description" content="<%= current_page.data.description %>" />
    <%= partial 'meta_open_graph' %>
    <%= partial 'meta_twitter_card' %>
    <%= favicon_tag 'favicon.png' %>
    <%= javascript_include_tag 'fontawesome.min.js', defer: true %>
    <%= stylesheet_link_tag 'github' %>
    <%= stylesheet_link_tag 'styles' %>
    <% if content_for?(:article_styles) %>
      <%= yield_content :article_styles %>
    <% end %>
    <% if build? %>
      <%= partial 'google_analytics' %>
    <% end %>
  </head>
  <body>
    <header class="header text-center">
      <h1 class="blog-name pt-lg-4 mb-0">
        <% link_to '/index.html', class: 'no-text-decoration' do %>
          <%= image_tag 'BobNadlerLogoHiRes.png', class: 'img-fluid d-none d-lg-block', alt: 'Bob Nadler, Jr.' %>
          <span class="d-lg-none">Bob Nadler, Jr.</span>
        <% end %>
      </h1>
      <%= partial 'nav' %>
    </header>

    <div class="main-wrapper">
      <%= yield %>
      <footer class="footer text-center py-2 theme-bg-dark">
        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
      </footer>
    </div>

    <%= javascript_include_tag 'popper.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'highlight.pack' %>
    <%= javascript_include_tag 'blog' %>
  </body>
</html>
